<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="theme-{{THEME}}">
  <head>
    <title>Universal Controller</title>
    <link rel="stylesheet" href="css/combo.min.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png"/>
  </head>
  <body>
    <div class="header">
      <h1><a href="/">Universal Controller</a></h1>
    </div>

    <div class="body">
      <h1>404: File Not Found</h1>
    </div>
    <script type="text/javascript" src="js/common.min.js"></script>
  </body>
</html>