<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="theme-{{THEME}}">
  <head>
    <title>Universal Controller</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body class="{{DEVICE}}">
    <div class="header">
      <h1><a href="/">Universal Controller</a></h1>
      <ul>
        {{NAVIGATION}}
      </ul>
    </div>

    <div class="body">
      {{DEVICE_INTERFACES}}
    </div>
    <script type="text/javascript" src="js/common.js"></script>
  </body>
</html>