<!DOCTYPE html>
<html lang="{{i18n_LANGUAGE}}" xmlns="http://www.w3.org/1999/html" class="theme-{{THEME}}"{{APP_CACHING}}>
  <head>
    <title>{{i18n_APPNAME}}</title>
    <link rel="stylesheet" href="/css/combo.min.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" sizes="192x192" href="/images/icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-language" content="{{i18n_LANGUAGE}}" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="SwitchBoard is a universal remote and home automation system" />
    <meta name="keywords" content="SwitchBoard, home automation, network, remote control" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  </head>
  <body>
    <header data-string-inactive="{{i18n_INACTIVE}}" data-string-connected="{{i18n_CONNECTED}}" data-string-connecting="{{i18n_CONNECTING}}" data-string-disconnected="{{i18n_DISCONNECTED}}">
      <h1><a href="/">{{i18n_APPNAME}}</a></h1>
      <nav>
        <ul>
          {{NAVIGATION}}
        </ul>
      </nav>
    </header>

    <main data-string-on="{{i18n_ON}}" data-string-off="{{i18n_OFF}}" data-string-active="{{i18n_ACTIVE}}" data-string-inactive="{{i18n_INACTIVE}}" data-string-am="{{i18n_AM}}" data-string-pm="{{i18n_PM}}" data-string-sun="{{i18n_SUN}}" data-string-mon="{{i18n_MON}}" data-string-tue="{{i18n_TUE}}" data-string-wed="{{i18n_WED}}" data-string-thur="{{i18n_THUR}}" data-string-fri="{{i18n_FRI}}" data-string-sat="{{i18n_SAT}}">
      {{DEVICE_INTERFACES}}
    </main>
    <script type="text/javascript" src="js/combo.min.js"></script>
  </body>
</html>
